/* CSS Reset */
body,
p,
figure {
  margin: unset;
  padding: unset;
}
h1 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}
img {
  vertical-align: top;
  width: 100%;
}
/* form 요소 초기화 */
input[type='email'],
input[type='password'],
input[type='checkbox'],
button {
  all: unset;
}
/* form 요소 동기화 */
input[type='email'],
input[type='password'] {
  display: block;
  width: 100%;
  line-height: 44px;
}
button {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Typography */
:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}

/* Layout */
.wrapper {
  width: 360px;
  height: 740px;
  margin: 0 auto;
  padding: 52px 0;
  background-color: white;
}
.cover {
  margin-bottom: 12px;
}
.login {
  padding-inline: 20px;
}

/* Components */
body {
  background-color: grey;
}

.cover__figure {
  margin: 0 auto;
  width: 248px;
}
.cover__src {
  width: 220px;
  height: 130px;
  margin: 0 auto;
}
.cover__caption {
  padding-block: 10px;
  text-align: center;
}
.cover__caption h1 {
  font-size: 2rem;
  margin-block: 4px 8px;
  letter-spacing: 0.02em;
}
.cover__caption p {
  font-size: 1.2rem;
  line-height: 1.3;
  color: #999;
}

.login__input {
  height: 44px;
  border-bottom: 1px solid #d7d7d7;
  box-sizing: border-box;
}
.login__input + .login__input {
  margin-top: 2px;
}
.login__input:has(:focus) {
  border-bottom: 1px solid #00c6be;
  box-shadow: 0 4px 4px -2px #00c6be;
}

.login__save {
  margin: 22px 0 30px;
  font-size: 1.3rem;
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
.login__save img {
  background-color: #dddddd;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.login__save:has(:focus) img {
  box-shadow: 0 0 4px 2px #00c6be;
}
.login__save:has(:checked) img {
  background-color: #00c6be;
}

.btn {
  height: 50px;
  font-size: 1.4rem;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #aaa;
  color: #fff;
}
.btn:has(:focus) {
  box-shadow: 0 0 4px 2px #00c6be;
}
.btn:has(#signUpBtn) {
  background-color: #fff;
  border: 1px solid #00c6be;
  color: #00c6be;
}
.btn + .btn {
  margin-top: 12px;
}

.active {
  background-color: #00c6be;
}
.hidden {
  display: none;
}
