<nav class="navigation">
  <!-- 홈 화면으로 이동 버튼 -->
  <a href="/src/features/home/home.html">
    <figure class="navigation__button">
      <img src="/src/assets/icons/navigation/nav_home.svg" alt="홈 페이지 이동 버튼">
      <figcaption class="navigation__text">홈</figcaption>
    </figure>
  </a>
  <!-- 발견 페이지로 이동 버튼 -->
  <a href="/src/features/discover.html">
    <figure class="navigation__button home">
      <img src="/src/assets/icons/navigation/nav_search.svg" alt="발견 페이지 이동 버튼">
      <figcaption class="navigation__text">발견</figcaption>
    </figure>
  </a>
  <!-- 글쓰기 페이지로 이동 버튼 -->
  <a href="/src/features/write/write.html">
    <figure class="navigation__button">
      <img src="/src/assets/icons/navigation/nav_write.svg" alt="글쓰기 페이지 이동 버튼">
      <figcaption class="navigation__text">글쓰기</figcaption>
    </figure>
  </a>
  <!-- 내 서랍 페이지로 이동 버튼 -->
  <a href="/src/features/myBox/myBox.html">
    <figure class="navigation__button">
      <img src="/src/assets/icons/navigation/nav_mybox.svg" alt="내 서랍 이동 버튼">
      <figcaption class="navigation__text">내 서랍</figcaption>
    </figure>
  </a>
</nav>