a {
  margin: unset;
  padding: unset;
  text-decoration: none;
  color: black;
}
figure,
figcaption {
  margin: unset;
  padding: unset;
}
img {
  vertical-align: top;
  width: 100%;
}

.navigation {
  background-color: white;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 34px;
  font-size: 12px;
  line-height: 27px;
  text-align: center;
  padding: 18px 33px 0;
  box-sizing: border-box;

  /* 하단 내비게이션 바 하단에 고정*/
  position: fixed;
  bottom: 0;
  /* z-index 추가 */
  z-index: 1000;
}

.navigation__button {
  width: 48px;
}
