<!-- 네비게이션 바 변동사항 없습니다. -->
<nav class="navigation">
  <!-- 홈 화면으로 이동 버튼 -->
  <a href="/src/features/home/home.html" data-page="home">
    <figure class="navigation__button">
      <img src="/assets/icons/navigation/nav_home.svg" class="default" alt="홈 페이지 이동 버튼" />
      <img src="/assets/icons/navigation/nav_home_selected.svg" class="current hidden" alt="홈 페이지 이동 버튼" />
      <figcaption class="navigation__text">홈</figcaption>
    </figure>
  </a>
  <!-- 발견 페이지로 이동 버튼 -->
  <a href="/src/features/discover/discover.html" data-page="discover">
    <figure class="navigation__button home">
      <img src="/assets/icons/navigation/nav_search.svg" class="default" alt="발견 페이지 이동 버튼" />
      <img src="/assets/icons/navigation/nav_search_selected.svg" class="current hidden" alt="발견 페이지 이동 버튼" />
      <figcaption class="navigation__text">발견</figcaption>
    </figure>
  </a>
  <!-- 글쓰기 페이지로 이동 버튼 -->
  <a href="/src/features/write/write.html" data-page="write">
    <figure class="navigation__button">
      <img src="/assets/icons/navigation/nav_write.svg" class="default" alt="글쓰기 페이지 이동 버튼" />
      <img src="/assets/icons/navigation/nav_write_selected.svg" class="current hidden" alt="글쓰기 페이지 이동 버튼" />
      <figcaption class="navigation__text">글쓰기</figcaption>
    </figure>
  </a>
  <!-- 내 서랍 페이지로 이동 버튼 -->
  <a href="/src/features/myBox/myBox.html" data-page="myBox">
    <figure class="navigation__button">
      <img src="/assets/icons/navigation/nav_mybox.svg" class="default" alt="내 서랍 이동 버튼" />
      <img src="/assets/icons/navigation/nav_mybox_selected.svg" class="current hidden" alt="내 서랍 이동 버튼" />
      <figcaption class="navigation__text">내 서랍</figcaption>
    </figure>
  </a>
</nav>