/* 상단바 하위 요소만 초기화 */
.brunch__header button {
  background-color: transparent;
  border: none;
  padding: unset;
}
.brunch__header img {
  vertical-align: top;
  width: 100%;
}
/* id="header" 영역 상단 고정 */
/* z-index 추가 */
#header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* 헤더 스타일 */
.brunch__header {
  /* 고정 컬러로 지정 */
  background-color: white;
  box-sizing: border-box;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.brunch__header__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.brunch__header__logo {
  margin-right: 98px;
  display: inline-block;
}

.brunch__header__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.brunch__header__search-button {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.brunch__header__start-button {
  background: #231f20 !important;
  color: white;
  border-radius: 12px;
  padding: 5px 13px;
  font-size: 10px;
  width: 62px;
  height: 24px;
}

.hidden {
  display: none;
}

.brunch__header__profile-button {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border: 0.5px solid #ddd !important;
  object-fit: fill;
  overflow: hidden;
}
