<!-- 웹사이트의 헤더 영역 시작 -->
<!-- 상태바 이미지 삭제 처리 -->
<header class="brunch__header">
  <!-- 헤더 상단바 영역 -->
  <div class="brunch__header__top-bar">
    <!-- 브런치스토리 로고 및 홈 링크 -->
    <a href="/src/features/home/home.html" class="brunch__header__logo" aria-label="브런치스토리 홈으로 이동">
      <!-- 로고 이미지 -->
      <img src="/assets/logos/logo_black.svg" alt="브런치스토리 로고" />
    </a>
    <!-- 헤더 우측 액션 버튼 영역 -->
    <div class="brunch__header__actions">
      <!-- 검색 버튼 -->
      <button class="brunch__header__action-button brunch__header__search-button" aria-label="검색 버튼">
        <!-- 검색 아이콘 이미지 -->
        <a href="/src/features/discover/discover.html">
          <img src="/assets/icons/top/top_search.svg" alt="검색 아이콘" />
        </a>
      </button>
      <!-- 시작하기 버튼 -->
      <button class="brunch__header__action-button brunch__header__start-button" aria-label="브런치스토리 시작하기">
        <a href="/src/features/start/start.html" style="color: white;">시작하기</a>
      </button>
      <button class="brunch__header__action-button brunch__header__profile-button hidden">
      </button>
    </div>
  </div>
</header>