/* 헤더 스타일 */
#header {
  position: sticky;
  top: 0;
}
.header {
  box-sizing: border-box;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: var(--white);
  z-index: 1000;
}

.header__top-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.header__logo {
  margin-right: 98px;
  display: inline-block;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__search-button {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.header__start-button {
  background: var(--grey-80);
  color: var(--white);
  border-radius: 12px;
  padding: 5px 13px;
  font-size: var(--font-size-xs);
  width: 62px;
  height: 24px;
}

/* 루트 변수 */
:root {
  /* 메인 색상 */
  --white: #ffffff;

  /* 그레이 색상 */
  --grey-10: #f8f8f8;
  --grey-20: #eeeeee;
  --grey-25: #e0e0e0;
  --grey-30: #dddddd;
  --grey-35: #bbbbbb;
  --grey-40: #959595;
  --grey-50: #666666;
  --grey-60: #444444;
  --grey-70: #333333;
  --grey-80: #231f20;
  --grey-90: #111111;

  /* 폰트 크기 */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 17px;
  --font-size-xl: 19px;
  --font-size-xxl: 22px;
  --font-size-xxxl: 30px;
}
