/* Resets */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h2,
h3,
h6 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

p {
  margin: unset;
}

ul {
  padding: unset;
  margin: unset;
}

li {
  list-style-type: none;
}

/* Typography */
:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Variables */
:root {
  /* Colors */
  --color-blue-50: #00c6be;

  --color-white: #ffffff;
  --color-gray-20: #eeeeee;
  --color-gray-25: #f5f5f5;
  --color-gray-30: #f8f8f8;
  --color-gray-50: #959595;
  --color-gray-55: #838383;
  --color-gray-60: #666666;
  --color-gray-70: #333333;
  --color-gray-80: #1b1b1b;
  --color-gray-90: #111111;
}

/* Layouts - 공통으로 활용하는 레이아웃 클래스 */
.wrapper {
  width: 360px;
  margin: 0 auto;
  min-height: 740px;
}

/* Design */
body {
  background-color: var(--color-gray-25);
}

.navbar {
  min-height: 94px;
  background-color: var(--color-gray-30);
}

.header {
  height: 240px;
  position: relative;
  background-color: var(--color-white);
}

.header__cover-image-wrapper {
  aspect-ratio: 3/2;
}

.header__cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 이미지 첨부하고 제거하기, HTML태그에 alt 작성하기 */
  background-color: antiquewhite;
  /* filter: blur(2px); */
}

.header__info {
  padding: 0 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 160px;
}

.header__title {
  color: var(--color-gray-70);
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.21429;
  /* 제목이 긴 경우, 짧은 경우가 있어서 어떻게 width를 설정하면 좋을지 생각해보기 */
  margin-bottom: 4px;
}

.header__source {
  color: var(--color-gray-60);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3125;
}

.header__meta {
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.header__author {
  margin-left: 3px;
  color: var(--color-gray-60);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.625;
}

.header__author-prefix {
  /* by img로 넣지 않고 글꼴로 가져가는게 나을 것 같다는 판단이 듬 */
  font-family: cursive;
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.625;
  opacity: 0.5;
  margin-right: 2px;
}

.header__date {
  margin-left: 8px;
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.625;
  opacity: 0.5;
}

.main {
  background-color: var(--color-white);
}

.article {
  padding: 40px 20px;
}

.article-excerpt {
  color: var(--color-gray-80);
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1.65;
}

.article-main {
  margin: 28px 0;
}

.article__main-image-wrapper {
  aspect-ratio: 3/2;
  height: 240px;
}

.article__main-image {
  object-fit: cover;
}

.article__main-description {
  margin-top: 8px;
  color: var(--color-gray-55);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.3;
}

.article__comment-wrapper {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.article__comment-title {
  color: var(--color-gray-80);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.article__comment-count {
  color: var(--color-blue-50);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

.commetn-item {
  margin: 20px 0;
  border-bottom: 1px solid var(--color-gray-20);
}

.comment-user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.comment__user-profile-image-wrapper {
  aspect-ratio: 1/1;
  align-self: start;
}

.comment__user-profile-image {
  object-fit: cover;
}

.comment__user-nickname {
  color: var(--color-gray-90);
  font-size: 1.6rem;
}

.comment__user-date {
  margin-top: 2px;
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

.comment-option-icon-wrapper {
  padding-right: 10px;
  margin-left: auto;
}

.article__comment-content-wrapper {
  padding: 10px 5px 14px 40px;
}

.article__comment-content {
  color: var(--color-gray-90);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.article__comment-reaction-wrapper {
  padding: 10px 0 30px 40px;
}

.article__comment-reaction {
  color: var(--color-gray-50);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
}

.article__comment-input-image-wrapper {
  aspect-ratio: 3/2;
}

.article__comment-input-image {
  object-fit: cover;
}

.new-author {
  /* box-shadow: inset 0 0 20px red; */
  padding: 40px 20px;
  border-top: 9px solid var(--color-gray-30);
  border-bottom: 1px solid var(--color-gray-30);
}

.new-author__profile {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.new-author__nickname {
  color: var(--color-gray-70);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.09091;
  margin-bottom: 4px;
}

.new-author__occupation {
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.new-author__image-wrapper {
  margin-left: auto;
  aspect-ratio: 1/1;
}

.new-author__image {
  object-fit: cover;
}

.new-author__bio {
  margin-bottom: 15px;
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.66667;
}

.new-author__interactions {
  /* 구독자, 구독이미지 */
  display: flex;
  align-items: center;
}

.new-author__subscriber {
  display: flex;
  gap: 4px;
}

.new-author__subscriber-title {
  color: var(--color-gray-50);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.new-author__subscriber-count {
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.14px;
}

.new-author__subscribe-icon-wrapper {
  margin-left: auto;
}

.footer {
  background-color: var(--color-white);
  margin-bottom: 40px;
}

.footer__interactions-list {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.footer-interactions:last-child {
  margin-left: auto;
}
