/* Resets */
body {
  margin: unset;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h2,
h3 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

p {
  margin: unset;
}

ul {
  padding: unset;
  margin: unset;
}

li {
  list-style-type: none;
}

/* Typography */
:root {
  font-family:
    'Pretendard Variable',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* Variables */
:root {
  /* Colors */
  --color-white: #ffffff;
  --color-blue-50: #00c6be;

  --color-gray-20: #eeeeee;
  --color-gray-30: #f8f8f8;
  --color-gray-50: #959595;
  --color-gray-60: #666666;
  --color-gray-70: #333333;
}

/* Layouts - 공통으로 활용하는 레이아웃 클래스 */
.wrapper {
  width: 360px;
  margin: 0 auto;
  min-height: 740px;
}

/* Design */
.body {
  background-color: var(--color-white);
}

.navbar {
  min-height: 94px;
  background-color: var(--color-gray-30);
}

.header {
  height: 240px;
  /* box-shadow: inset 0 0 20px red; */
}

.header__cover {
  position: relative;
}

.header__cover-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  /* 이미지 첨부하고 제거하기, HTML태그에 alt 작성하기 */
  background-color: antiquewhite;
  /* filter: blur(2px); */
}

.header__cover-info {
  padding: 0 20px;
  /* box-shadow: inset 0 0 20px blue; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 160px;
}

.header__info-title {
  color: var(--color-gray-70);
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.21429;
  /* 제목이 긴 경우, 짧은 경우가 있어서 어떻게 width를 설정하면 좋을지 생각해보기 */
  margin-bottom: 4px;
}

.header__info-source {
  color: var(--color-gray-60);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.3125;
}

.header__info-author {
  /* box-shadow: inset 0 0 20px red; */
  margin-top: 32px;
  display: flex;
  align-items: center;
}

.header__author-name {
  margin-left: 3px;
  color: var(--color-gray-60);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.625;
}

.header__author-date {
  margin-left: 8px;
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.625;
  opacity: 0.5;
}

.main {
  box-shadow: inset 0 0 20px green;
}

.footer {
  box-shadow: inset 0 0 20px blue;
}

.footer__cotents {
  /* box-shadow: inset 0 0 20px red; */
  padding: 40px 20px;
  border-top: 9px solid var(--color-gray-30);
  border-bottom: 1px solid var(--color-gray-30);
}

.footer__contents-profile {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  /* background-color: #00c6be; */
}

.footer__user-nickname {
  color: var(--color-gray-70);
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.09091;
  margin-bottom: 4px;
}

.footer__user-occupation {
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  /* figma시안에는 left인데 어떻게 하는게 좋을지 논의하기 */
  text-align: center;
}

.footer__image-wraaper {
  margin-left: auto;
}

.footer__contents-brief-info {
  margin-bottom: 15px;
  /* background-color: orange; */
  color: var(--color-gray-50);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.66667;
}

.footer__contents-interactions {
  /* background-color: coral; */
  /* 구독자, 구독이미지 */
  display: flex;
  align-items: center;
}

.footer__interactions-subscriber {
  display: flex;
  gap: 4px;
}

.footer__subscriber {
  color: var(--color-gray-50);
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.footer__subscriber-numbers {
  color: #666;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  /* 원래는 - 0.14px */
  letter-spacing: -0.00875rem;
}

.footer__interactions-button {
  margin-left: auto;
}
